*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 98.5vw;
    height: 100vh;
    margin: 10px;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(transparent,#475264,#15eb92);
    border-radius: 7px;
}
::-webkit-scrollbar-track{
    background-color: rgb(192, 177, 177);
}
::-webkit-scrollbar-corner{
    background-color: rgb(192, 177, 177);
}
.container{
    display: flex;
    flex-wrap: wrap;
}

.color-palette1{
    width: 20vw;
    height: 30vh;
    background-color: #ef5777;
}
.color-palette2{
    width: 20vw;
    height: 30vh;
    background-color: #575fcf;
}
.color-palette3{
    width: 19vw;
    height: 30vh;
    background-color: #4bcffa;
}
.color-palette4{
    width: 19vw;
    height: 30vh;
    background-color: #34e7e4;
}
.color-palette5{
    width: 20vw;
    height: 30vh;
    background-color: #0be881;
}
.color-palette6{
    width: 20vw;
    height: 30vh;
    background-color: #f53b57;
}
.color-palette7{
    width: 20vw;
    height: 30vh;
    background-color: #3c40c6;
}
.color-palette8{
    width: 19vw;
    height: 30vh;
    background-color: #0fbcf9;
}
.color-palette9{
    width: 19vw;
    height: 30vh;
    background-color: #00d8d6;
}
.color-palette10{
    width: 20vw;
    height: 30vh;
    background-color: #05c46b;
}
.color-palette11{
    width: 20vw;
    height: 30vh;
    background-color: #ffc048;
}
.color-palette12{
    width: 20vw;
    height: 30vh;
    background-color: #ffdd59;
}
.color-palette13{
    width: 19vw;
    height: 30vh;
    background-color: #ff5e57;
}
.color-palette14{
    width: 19vw;
    height: 30vh;
    background-color: #d2dae2;
}
.color-palette15{
    width: 20vw;
    height: 30vh;
    background-color: #485460;
}
.color-palette16{
    width: 20vw;
    height: 30vh;
    background-color: #ffa801;
}
.color-palette17{
    width: 20vw;
    height: 30vh;
    background-color: #ffd32a;
}
.color-palette18{
    width: 19vw;
    height: 30vh;
    background-color: #ff3f34;
}
.color-palette19{
    width: 19vw;
    height: 30vh;
    background-color: #808e9b;
}
.color-palette20{
    width: 20vw;
    height: 30vh;
    background-color: #1e272e;
}