*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 98.5vw;
    height: 100vh;
    margin: 10px;
}

::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(transparent,#475264,#15eb92);
    border-radius: 7px;
}
::-webkit-scrollbar-track{
    background-color: rgb(192, 177, 177);
}
::-webkit-scrollbar-corner{
    background-color: rgb(192, 177, 177);
}
.container{
    display: flex;
    flex-wrap: wrap;
}

.color-palette1{
    width: 20vw;
    height: 30vh;
    background-color: #40407a;
}
.color-palette2{
    width: 20vw;
    height: 30vh;
    background-color: #706fd3;
}
.color-palette3{
    width: 19vw;
    height: 30vh;
    background-color: #f7f1e3;
}
.color-palette4{
    width: 19vw;
    height: 30vh;
    background-color: #34ace0;
}
.color-palette5{
    width: 20vw;
    height: 30vh;
    background-color: #33d9b2;
}
.color-palette6{
    width: 20vw;
    height: 30vh;
    background-color: #2c2c54;
}
.color-palette7{
    width: 20vw;
    height: 30vh;
    background-color: #474787;
}
.color-palette8{
    width: 19vw;
    height: 30vh;
    background-color: #aaa69d;
}
.color-palette9{
    width: 19vw;
    height: 30vh;
    background-color: #227093;
}
.color-palette10{
    width: 20vw;
    height: 30vh;
    background-color: #218c74;
}
.color-palette11{
    width: 20vw;
    height: 30vh;
    background-color: #ff5252;
}
.color-palette12{
    width: 20vw;
    height: 30vh;
    background-color: #ff793f;
}
.color-palette13{
    width: 19vw;
    height: 30vh;
    background-color: #d1ccc0;
}
.color-palette14{
    width: 19vw;
    height: 30vh;
    background-color: #ffb142;
}
.color-palette15{
    width: 20vw;
    height: 30vh;
    background-color: #ffda79;
}
.color-palette16{
    width: 20vw;
    height: 30vh;
    background-color: #b33939;
}
.color-palette17{
    width: 20vw;
    height: 30vh;
    background-color: #cd6133;
}
.color-palette18{
    width: 19vw;
    height: 30vh;
    background-color: #84817a;
}
.color-palette19{
    width: 19vw;
    height: 30vh;
    background-color: #cc8e35;
}
.color-palette20{
    width: 20vw;
    height: 30vh;
    background-color: #ccae62;
}