*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 99.5vw;
    height: 100vh;
}
/* ---------------------- FOR SCROLLBAR --------------------- */
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(transparent,#475264,#15eb92);
    border-radius: 7px;
}
::-webkit-scrollbar-track{
    background-color: rgb(192, 177, 177);
}
::-webkit-scrollbar-corner{
    background-color: rgb(192, 177, 177);
}

/* ---------------------FOR BODY ---------------------------- */
.container{
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    background-image: linear-gradient(45deg,#12243f,#b8e9d4,#f4985a);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.div-span{
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    top: 45%;
    left: 60px;   
}

a{
    text-decoration: none;
    color: black;
}

.country-code{
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    top: 45%;
    left: 70px;
    
}

.div1{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#ffbe76,#eafa0bfb);
    cursor: pointer; 
    box-shadow: 5px 5px 40px rgb(230, 205, 16); 
}
.div2{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#fa9090,#f40606);
    cursor: pointer;
    box-shadow: 5px 5px 40px rgb(237, 2, 2); 
}
.div3{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#9a9aae,#0000fc);
    cursor: pointer;
    box-shadow: 5px 5px 40px rgb(4, 20, 245);
}
.div4{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#96c980,#4ff20a);
    cursor: pointer;
    box-shadow: 5px 5px 40px rgb(45, 239, 11);
}
.div5{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#c1bbe6,#f306f3);
    cursor: pointer;
    box-shadow: 5px 5px 40px rgb(237, 2, 225);
}
.div6{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#ce8ddc,#3e0fe5);
    cursor: pointer;
    box-shadow: 5px 5px 40px rgb(119, 2, 237);
}
.div7{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#c7ecee,#09edf9);
    cursor: pointer;
    box-shadow: 5px 5px 40px rgb(7, 251, 251);
}
.div8{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#7ed6df,#04f75d);
    cursor: pointer;
    box-shadow: 5px 5px 40px rgb(6, 250, 120);
}
.div9{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#d6bc9d,#fe8c00);
    cursor: pointer;
    box-shadow: 5px 5px 40px rgb(237, 115, 2);
}
.div10{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#b9d85d,#f7be02);
    cursor: pointer;
    box-shadow: 5px 5px 40px rgb(199, 182, 30);
}
.div11{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#f9ca24,#e34e13);
    cursor: pointer;
    box-shadow: 5px 5px 40px rgb(203, 238, 7);
}
.div12{
    border: 1px solid black;
    border-radius: 7px;
    width: 22%;
    height: 180px;
    margin: 5%;
    background-image: linear-gradient(45deg,#f0a9ff,#8005faee);
    cursor: pointer;
    box-shadow: 5px 5px 40px rgb(217, 24, 198);
}


